h1 {color: rgba(0, 255, 255, 0.945); font-family: cursive;}
body{background-color: rgba(243, 130, 117, 0.945);}
h3{color: rgb(69, 128, 212);}
div{background-color: cornsilk; border:3px solid cornflowerblue; border-radius: 10px;}